.parallax3{
    width: 100%;
     height: 100%;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
}

.desert{
  background-image: url("/desert.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.wall{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.desertRock{
  background-image: url("/desert-rock.png");
  background-size: cover;
  background-position: bottom;
  width: 90%;
  height: 100%;
  position: absolute;
  flex:2;
  left:20px;
}
.waterfall{
  background-image: url("/waterfall.png");
  background-size: cover;
  background-position: bottom;
  width: 90%;
  height: 100%;
  position: absolute;
  flex:1;
right:10px;
}

.nadi{
  background-image: url("/water2.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  margin-top: 152px;
}
.man{
  background-image: url("/man.png");
  background-size: cover;
  background-position: bottom;
  width:100%;
  height: 100%;
  position: absolute;
  z-index: 6;

}
.grass{
  background-image: url("/grass.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 7;
}
.bg{
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #1D002C;
  top:100px;
}
.hilll{
  background-image: url("/hill-right-1.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:3;
  top:-630px;
  left:-90px;
}
.balance{
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color:#4C25C4;
  top:0;
}
